
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* common style */
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.description {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

/* animation style */
@keyframes spinBadge {
    from {
        transform: translate(-50%, -44%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -44%) rotate(360deg);
    }
}


/* nav style */
header {
    margin-top: 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-option {
    display: flex;
    gap: 48px;
}
.nav-option ul {
    display: flex;
    gap: 48px;
    list-style: none;
}
.nav-option a {
    text-decoration: none;
    font-size: 1rem;
}
.nav-option .a-first {
    font-weight: bold;
    color: black;
}
.nav-option .a-second {
    color: #8987A1;
}
.nav-option .a-fourth {
    color: black;
}
.nav-cart a {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* banner style */
.banner {
    display: flex;
    align-items: flex-end;
    padding-top: 100px;
    margin-top: 120px;
}
.banner-title {
    font-size: 4.1rem;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}
.title-color {
    color: #E95A08;
}

.banner .banner-img {
    display: block;
}


/* plants-container style */
.plants-container {
    margin-top: 120px;
    margin-bottom: 200px;
}
.plants-content {
    text-align: center;
}
.plants-content h3 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    color: #000000;
}
.plants-description {
    padding: 0 140px;
    margin-top: 16px;
    margin-bottom: 49px;
}
.plants-content span {
    color: #E95A08;
}

.plants-card-section {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}
.plants-card img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.plants-card .title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 10px;
}
.plants-card .price {
    font-size: 1.3rem;
    font-weight: bold;
}
.plants-card button {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: #E95A08;
    border: none;
    padding: 19px 80px;
    cursor: pointer;
    margin-top: 25px;
}


/* plants lover container */
.plants-lover-section {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-bottom: 133px;
}
.plants-lover-img {
    position: relative;
    height: auto;
}
.flower-store {
    height: auto;
    display: block;
    object-fit: cover;
}
.trusted-badge {
    position: absolute;
    top: 0;
    left: 91%;
    transform: translate(-50%, -44%);
    width: 286px;
    height: auto;
    animation: spinBadge 30s linear infinite;
}
.plants-lover-content h3 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    margin-right: 20px;
    margin-bottom: 20px;
}
.plants-lover-description{
    margin-left: 34px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
}
.plants-lover-description ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* latest deal section style */
.latest-deal {
    margin-bottom: 130px;
}
.latest-deal .latest-deal-top {
    text-align: center;
    margin-bottom: 120px;
}
.latest-deal .latest-deal-top h3 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    margin-bottom: 16px;
}
.latest-deal .latest-deal-top span {
    color: #E95A08;
}
.latest-deal-bottom {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fc;
}
.latest-deal-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bloom-box {
    background-image: url('../assets/deal-bloom.png');
}
.ana-box {
    background-image: url('../assets/deal-ana.png');
}
.latest-deal-right {
    background-image: url('../assets/deal-zabo.png');
}
.bloom-box, 
.ana-box,
.latest-deal-right {
    position: relative;
    color: white;
    padding: 20px;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Serif', serif;
    overflow: hidden;
    border-radius: 14px;
    z-index: 1;
}
.latest-deal-right {
    width: 753px;
    height: 423px;
    border-radius: 22px;
}
.bloom-box h3,
.bloom-box a,
.ana-box h3,
.ana-box a,
.latest-deal-right h3,
.latest-deal-right a {
    z-index: 1;
    position: relative;
    color: white;
}

.bloom-box::before,
.ana-box::before,
.latest-deal-right::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 0;
}

.latest-deal-left h3 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Noto Serif', serif;
    text-shadow: #f8f9fc;
}
.latest-deal-left a {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 19px;
}
.latest-deal-right h3 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Noto Serif', serif;
}
.latest-deal-right a {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 15px;
}


/* join continer style */
.join-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 533px;
}
.join-container h2 {
    font-size: 3.12rem;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    color: #ffffff;
    margin-bottom: 23px;
}
.join-container .subscribe-box {
    display: flex;
    justify-content: center;
    border: none;
}
.join-container .subscribe-box input {
    padding: 15.5px 20px;
    width: 644px;
    font-size: 1rem;
}
.join-container .subscribe-box button {
    padding: 19px 53.5px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #E95A08;
    color: #ffffff;
    border: none;
}


/* footer style */
footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.footer-content p {
    max-width: 370px;
    font-size: 22px;
}
.footer-option ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    column-gap: 90px;
}
.footer-option a {
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
}
.footer-social-icon img{
    margin-left: 24px;
}



/* Mobile responsive */
@media (max-width: 767px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .description {
        font-size: 16px;
    }

    /* nav style */
    nav {
        margin-right: 2px;
    }
    .logo img{
        width: 100px;
        height: auto;
    }
    .a-hide {
        display: none;
    }
    .nav-option {
        gap: 0;
        text-align: center;
    }
    .nav-option ul {
        gap: 0px;
        display: block;
    }
    .nav-cart a {
        gap: 15px;
    }
    .nav-cart i {
        font-weight: bold;
        font-size: 20px;
    }
    .nav-cart span {
        font-size: 16px;
    }
    
    /* banner */
    .banner {
        flex-direction: column-reverse;
        margin-top: 28px;
        padding: 0;
        margin-left: 0px;
        margin-right: 0px;
    }
    .banner .banner-img {
        width: 100%;
        display: block;
        margin-bottom: 28px;
    }
    .banner-content {
        margin-left: 20px;
        margin-right: 20px;
    }
    .banner-title {
        font-size: 24px;
        font-weight: bold;
        font-family: 'Noto Serif', serif;
        margin-bottom: 13px;
    }
    .description {
        font-size: 14px;
    }

    /* plants container section style */
    .plants-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .plants-description {
        padding: 0px;
        /* font-size: 15px; */
        margin-left: 20px;
        margin-right: 20px;
    }
    .plants-card-section {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    .plants-card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .plants-card .title {
        font-size: 1rem;
    }
    .plants-card .price {
        font-size: 1rem;
    }
    .plants-card button {
        width: 100%;
        padding: 19px 30px;
    }

    /* plants lover section style */
    .plants-lover-section {
        flex-direction: column;
        gap: 0;
        max-width: 100%;
    }
    .plants-lover-img {
        max-width: 100%;
        margin-bottom: 18px;
    } 
    .plants-lover-img .flower-store{
        width: 100%;
        display: block;
        height: auto;
    }
    .trusted-badge {
        display: none;
    }
    .plants-lover-content h3 {
        font-size: 26px;
        font-weight: bold;
        font-family: 'Noto Serif', serif;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .plants-lover-description {
        font-size: 16px;
    }


    /* latest deal section style */
    .latest-deal .latest-deal-top{
        margin-bottom: 52px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .latest-deal .latest-deal-top h3 {
        font-size: 32px;
    }
    .latest-deal .latest-deal-top {
        font-size: 14px;
    }
    .latest-deal-bottom {
        flex-direction: column;
        padding: 20px;
    }
    .bloom-box::before,
    .ana-box::before,
    .latest-deal-right::before {
        background-color: rgba(0, 0, 0, 0.60);
    }

    .bloom-box,
    .ana-box,
    .latest-deal-right {
        width: 100%;
        max-width: 100%;
        padding: 20px 0;
    }

    .bloom-box,
    .ana-box {
        height: 150px;
    }

    .latest-deal-right {
        height: auto;
        padding: 60px 0;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 14px;
    }
    .latest-deal-right h3 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Noto Serif', serif;
        text-shadow: #f8f9fc;
    }
    .latest-deal-right a {
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 19px;
    }
    .latest-deal-left {
        width: 100%;
    }
    .latest-deal {
        margin-bottom: 60px;
    }


    /* join container section style */
    .join-container {
        display: block;
        width: 100%;
        background-position: center;
        height: auto;
        padding: 80px 0;
    }
    .join-container h2 {
        font-size: 22px;
        margin-bottom: 23px;
        font-weight: 500;
    }
    .join-container .subscribe-box input {
        padding: 15.5px 10px;
        width: 200px;
    }
    .join-container .subscribe-box button {
        padding: 15.5px 10px;
    }


    /* footer style */
    footer {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-content p {
        font-size: 17px;
        margin-top: 13px;
        margin-bottom: 35px;
    }
    .footer-option ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .footer-social-icon img {
        margin-left: 0;
        margin-right: 24px;
    }
}